
@{
    ViewBag.Title = "SPTheochude";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h3 style="text-align:center; color:red">SÁCH THEO CHỦ ĐỀ</h3>
@foreach (var sach in Model)
{
    <div>

        <div class="prod_box">
            <div class="top_prod_box"></div>
            <div class="center_prod_box">
                <div class="product_title"><a href="@Url.Action("Details","BookStore",new { id=sach.Masach})">@sach.Tensach</a></div>
                <div class="product_img"><a href="@Url.Action("Details","BookStore",new { id=sach.Masach})"><img style="width:40%" src="~/Hinhsanpham/@sach.Hinhminhhoa" alt="" border="0" /></a></div>
                <div class="prod_price"> <span class="price">@sach.Dongia</span></div>
            </div>
            <div class="bottom_prod_box"></div>
            <div class="prod_details_tab"> <a href="http://all-free-download.com/free-website-templates/" title="header=[Add to cart] body=[&nbsp;] fade=[on]"><img src="~/images/cart.gif" alt="" border="0" class="left_bt" /></a> <a href="http://all-free-download.com/free-website-templates/" title="header=[Specials] body=[&nbsp;] fade=[on]"><img src="~/images/favs.gif" alt="" border="0" class="left_bt" /></a> <a href="http://all-free-download.com/free-website-templates/" title="header=[Gifts] body=[&nbsp;] fade=[on]"><img src="~/images/favorites.gif" alt="" border="0" class="left_bt" /></a> <a href="#" class="prod_details">details</a> </div>
        </div>
    </div>
}

